grpcio==1.73.1
grpcio-tools==1.73.1
protobuf==6.31.1
pyyaml==6.0.2
munch==4.0.0
retry2==0.9.5
packaging==25.0
base58==2.1.1

# A9000 python client
pyxcli==1.2.1
# SVC python client
pysvc2==2.0.2
# DS8K python client
pyds8k==1.4.0
