pip==26.1.2
wheel==0.46.2
grpcio==1.74.0
grpcio-tools==1.74.0
protobuf==6.33.5
pyyaml==6.0.2
munch==4.0.0
retry2==0.9.5
packaging==25.0
base58==2.1.1
requests==2.33.0
kubernetes==35.0.0
setuptools==78.1.1

# A9000 python client
# pyxcli>=1.2.1
# SVC python client
pysvc2==2.0.2
# DS8K python client
pyds8k==1.5.0
