grpcio==1.62.1
grpcio-tools==1.62.1
protobuf==4.25.3
cython<3.0.0
pyyaml==6
munch==2.3.2
retry2==0.9.5
packaging==20.1
base58==2.0.0

# A9000 python client
pyxcli==1.2.1
# SVC python client
pysvc==1.1.1
# DS8K python client
pyds8k==1.4.0
