identity:
   name: block.csi.ibm.com
   version: 1.1.0
   capabilities: 
      - CONTROLLER_SERVICE

controller:
   publish_context_lun_parameter : "PUBLISH_CONTEXT_LUN"
   publish_context_connectivity_parameter : "PUBLISH_CONTEXT_CONNECTIVITY"
   publish_context_separator : ","
   publish_context_array_iqn : "PUBLISH_CONTEXT_ARRAY_IQN"
   publish_context_fc_initiators : "PUBLISH_CONTEXT_ARRAY_FC_INITIATORS"
#  <array_iqn_1> : comma-separated list of iqn_1 iscsi target ips
#  <array_iqn_2> : comma-separated list of iqn_2 iscsi target ips
#  ...
#  <array_iqn_k> : comma-separated list of iqn_k iscsi target ips
