apiVersion: replication.storage.openshift.io/v1alpha1
kind: VolumeReplication
metadata:
  name: demo-volumereplication
  namespace: default
spec:
  volumeReplicationClass: demo-volumereplicationclass
  replicationState: primary
  replicationHandle: "SVC:demo-id;demo-uid"
  dataSource:
    kind: PersistentVolumeClaim
    name: demo-pvc-file-system  # Ensure that this is in the same namespace as VolumeReplication.
