kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: demo-storageclass-config-secret
provisioner: block.csi.ibm.com
volumeBindingMode: WaitForFirstConsumer
parameters:
  # non-csi.storage.k8s.io parameters may be specified in by_system_id per system and/or outside by_system_id as the cross-system default.

  by_system_id: '{"demo-system-id-1":{"pool":"demo-pool-1","SpaceEfficiency":"deduplicated","volume_name_prefix":"demo-prefix-1"},
                  "demo-system-id-2":{"pool":"demo-pool-2","volume_name_prefix":"demo-prefix-2"}}'  # Optional.
  pool: demo-pool
  SpaceEfficiency: thin            # Optional.
  volume_name_prefix: demo-prefix  # Optional.

  csi.storage.k8s.io/fstype: xfs   # Optional. Values ext4/xfs. The default is ext4.
  csi.storage.k8s.io/secret-name: demo-config-secret
  csi.storage.k8s.io/secret-namespace: default
allowVolumeExpansion: true
