kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: demo-storageclass
provisioner: block.csi.ibm.com
parameters:
  SpaceEfficiency: demo-space-efficiency  # Optional.
  pool: demo-pool

  csi.storage.k8s.io/provisioner-secret-name: demo-secret
  csi.storage.k8s.io/provisioner-secret-namespace: default
  csi.storage.k8s.io/controller-publish-secret-name: demo-secret
  csi.storage.k8s.io/controller-publish-secret-namespace: default
  csi.storage.k8s.io/controller-expand-secret-name: demo-secret
  csi.storage.k8s.io/controller-expand-secret-namespace: default

  csi.storage.k8s.io/fstype: xfs   # Optional. Values ext4\xfs. The default is ext4.
  volume_name_prefix: demo-prefix  # Optional.
allowVolumeExpansion: true
