grpcio==1.20.1
grpcio-tools==1.20.1
protobuf==3.7.1
pyyaml==5.1
munch==2.3.2
retry==0.9.2
packaging==20.1
base58==2.0.0

# A9000 python client
pyxcli==1.2.1
# SVC python client
pysvc==1.1.1
# DS8K python client
pyds8k==1.1.0
